.about {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 4rem);
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: var(--z-about);
	margin: 2rem;

	&.open {
		display: flex;
	}

	.modal {
		display: none;
		flex-direction: column;
		width: 50vw;
		height: 100%;
		background-color: var(--white);
		color: var(--black);
		padding: 10rem;

		&.open {
			display: flex;
		}
	}
}

.button {
	all: unset;
	position: fixed;
	top: 0;
	right: 0;
	margin: var(--outer-margin);
	text-align: center;
	cursor: pointer;
	z-index: calc(var(--z-about) + 1);
}
