.about {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 4rem);
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: var(--z-about);
	@include mq($from: desktop) {
		margin: 2rem;
	}

	&.open {
		display: flex;
	}

	.modal {
		display: none;
		flex-direction: column;
		height: auto;
		width: calc(100% - 4rem);
		background-color: var(--white);
		color: var(--black);
		padding: 2rem;
		overflow: auto;

		@include mq($until: desktop) {
			margin-top: 5rem;
		}

		p {
			margin-bottom: 0.75em;
			//text-indent: 2em;
		}

		p:last-of-type {
			margin: 0;
		}

		a {
			color: var(--black);
			border-bottom: 1px solid var(--primary);
		}

		@include mq($from: desktop) {
			width: 50vw;
			padding: 4rem;
		}

		&.open {
			display: flex;
		}
	}
}

.button {
	all: unset;
	position: fixed;
	top: 0;
	right: 0;
	padding: var(--outer-margin);
	text-align: center;
	cursor: pointer;
	z-index: calc(var(--z-about) + 1);
	transition: opacity 0.3s ease-in-out;
	color: var(--primary);
}

.aboutButton {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease-in-out;

	&.visible {
		opacity: 1;
		pointer-events: auto;
	}
}

.closeButton {
	opacity: 1;
	pointer-events: auto;
}
