@use 'fonts';
@use 'mediaqueries' as *;

:root {
	--black: #161616;
	--white: #fcfcfc;
	--red: #bf0000;
	--outer-margin: 1em;
	--navbar-height: calc(1em + calc(2 * var(--outer-margin)));
	--background: var(--black);
	--foreground: var(--white);
	--body-font: Arial, Helvetica, Sans-Serif;
	--headline-font: Arial, Helvetica, Sans-Serif;

	--z-about: 10;
	--z-login: 20;

	@include mq($from: tablet) {
	}

	@include mq($until: tablet) {
	}
}

body {
	width: 100%;
	font-size: 100%;
	line-height: 1em;
	color: var(--foreground);
	background-color: var(--background);
	font-family: var(--body-font);
	-webkit-font-smoothing: antialiased;
	font-feature-settings: 'liga', 'kern';

	@include mq($from: desktop) {
	}
}

html {
	box-sizing: border-box;
}

main {
	display: block;
	padding: 0;
}

article {
	min-height: 100vh;
	padding: var(--outer-margin);
}
::-webkit-scrollbar {
	-webkit-appearance: none;
	background: var(--beige-light);
}

::-webkit-scrollbar:vertical {
	width: 10px;
}

::-webkit-scrollbar:horizontal {
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--black);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: var(--foreground);
}
