@font-face {
	font-family: "Arial";
	src: url("../public/fonts/OceanicGrotesk-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Arial";
	src: url("../public/fonts/OceanicGrotesk-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Arial";
	src: url("../public/fonts/OceanicGrotesk-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Arial";
	src: url("../public/fonts/OceanicGrotesk-BoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Times";
	src: url("../public/fonts/OceanicText-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Times";
	src: url("../public/fonts/OceanicText-RegularItalic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}
