@use "mediaqueries" as *;

html,
body {
	font-size: 16px;
	font-weight: normal;
	font-family: var(--body-font);
	line-height: 1em;

	@include mq($from: tablet) {
		font-size: 18px;
	}

	@include mq($from: wide) {
		font-size: 18px;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	line-height: 1;
}

h1,
h2 {
	font-size: 2.2rem;
	margin-bottom: 0.25em;
	line-height: 0.95em;
	color: var(--primary);

	@include mq($from: desktop) {
		font-size: 3.2rem;
		margin-bottom: 0.5em;
	}
}

p,
input,
button {
	font-family: "Times";
	line-height: 1.5;
}
